html, body {
	height: 94%;
	width:100%;
	padding:1% 0;
	margin:0;
	background:#56FF45;
}
table {
	height: 98%;
	width:100%;
	padding:1% 0;
	background:#ffffff;

}
td {
	background: white;
	box-shadow: 0 0 5px #FF8888;
	height:100%;

}